@import "../../theme.scss";


.eventCollection{
  
}


.Event {
    display: flex;
    flex-direction: column;
    justify-content: center;
        
    .Circle {
        display: flex;
        align-content: center;
        justify-content: center;
        margin: auto;
        background-color: $ball;
        border-radius: 50%;
        align-self: center;

        &.transparent{
            background-color: transparentize($ball, .4);
        }

        transition: width 1s, height 1s, box-shadow 1s;
    }


    .event-info{
        font-family: "PT Sans";
        h1, h2, h3, h4 {
            font-family: "Exo 2";
        }

        text-align: center;
        padding: 2em 1em 0em 1em;
        h1, h2, h3, h4 {
            margin: 0;
        }
        p {
            margin: 0;
        }
        margin-bottom: 25px;
    }
    
    &.left{
        .Circle{
            mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 1.0) 50%, rgba(0, 0, 0, 0.0) 50%, rgba(0, 0, 0, 0.0));
        }
    }
    &.right{
        .Circle{
            mask-image: linear-gradient(to left, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 1.0) 50%, rgba(0, 0, 0, 0.0) 50%, rgba(0, 0, 0, 0.0));
        }    
    }
}

// .infoWrapper{
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     .event-info{
//         width: 50%;
//         justify-content: flex-end;
//     }
// }

// .circleWrapper{
//     justify-content: center;
//     justify-items: center;
//     justify-self: center;
//     display: flex;
//     mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 1.0) 50%, rgba(0, 0, 0, 0.0) 50.2%, rgba(0, 0, 0, 0.0));
// }