@import "../../theme.scss";


.eventCollection{
  
}


.Event {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .circle-wrapper{
        display: flex;
        justify-content: center;
    }

    .circle {
        display: flex;
        align-content: center;
        justify-content: center;

        background-color: $ball;
        border-radius: 50%;
        align-self: center;

        &.transparent{
            background-color: transparentize($ball, .4);
        }

        transition: width 1s, height 1s, box-shadow 1s;

        &.left{
            mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 1.0) 50%, rgba(0, 0, 0, 0.0) 50%, rgba(0, 0, 0, 0.0));
        }
        &.right{
            mask-image: linear-gradient(to left, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 1.0) 50%, rgba(0, 0, 0, 0.0) 50%, rgba(0, 0, 0, 0.0));
        }
    }

    .event-info{
        height: 6em;
        font-family: "PT Sans";
        text-align: center;
        padding: 0.5em 1em 0em 1em;

        margin-bottom: 1em;
        
        h1, h2, h3, h4 {
            font-family: "Exo 2";
            margin: 0;
            font-size: 22px;
            margin: 0;
        }
        p {
            margin: 0;
        }
        
        &.active{
            visibility: hidden;
            // max-width: 600px;
            // justify-self: center;
            // align-self: center;
            // z-index: 50;
            // display: flex;
            // flex-direction: column;
            // background-color: #222;
        }
    }
    

}

// .infoWrapper{
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     .event-info{
//         width: 50%;
//         justify-content: flex-end;
//     }
// }

// .circleWrapper{
//     justify-content: center;
//     justify-items: center;
//     justify-self: center;
//     display: flex;
//     mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 1.0) 50%, rgba(0, 0, 0, 0.0) 50.2%, rgba(0, 0, 0, 0.0));
// }