.stackList{

    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow: scroll;
    min-height:100vh;

}