@import "../../theme.scss";

.stackList{
    .left{
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        position: absolute;
    }
    .right{
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
}